<!DOCTYPE html>
<html>

    <head>
        <title>Learn!</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../css/main.style.css">
    </head>
    <body>
<header> <!--Cabeçador do site-->
    <img class="logo" alt="Site" src="../css/images/logo.png" width="300px">
        <nav>
            <ul class="nav_links">
                <li style="list-style-type: none !important; margin-top: 18px;"><a href="../views/login">Login</a></li>
            </ul>
        </nav>
</header>
            <div id="bg"> <!--Segunda divisão do site-->
                <h2 class="titulo" id="titulo1">SE DESAFIE, SOCIALIZE E APRENDA<br> DO ZERO JUNTO DE OUTROS<br> DEVELOPERS!</h2>
                
                <div id="button">
                    <a id="cadastre-se" href="/ejs/public/views/cadastro.ejs">CADASTRE-SE</a>
                </div>
                <div id="celular">
                    <ul style="list-style-type:none;">
                        <li>
                            <img id="imagemcel" width="350" src="../css/images/Celular.png">
                        </li>
                    </ul>
                </div>
            </div>
<div id="bottomside">
        <h3 class="titulo" id="how">ENTENDA COMO FUNCIONAMOS</h3>
            <div id="levels">
                <img src="../css/images/LVL1.png">
                <img src="../css/images/LVL2.png">
                <img src="../css/images/LVL3.png">
                <img src="../css/images/LVL4.png">
                <img src="../css/images/LVL5.png">
                <img src="../css/images/LVL6.png">
                <img src="../css/images/LVL7.png">
            </div>
        <p class="texto" id="apresentacao">A Learn é uma empresa fundada em 2022 com o objetivo de educacionar e lecionar brasileiros de todas faixas etárias e de quaisquer níveis sociais no aprendizado de programação. Temos como príncipal objetivo criar profissionais qualificados para suprir as demandas do mercado.<br>
            Temos conteúdo especialmente para você! Através de nosso sistema de troféus e rankings, buscamos transformar sua busca por desafios e competitividade em aprendizado e estudo.
            Possuímos diversas línguas e lições que vão do básico de HTML até os níveis avançados de diversas línguagens de programação direcionadas ao ciência de dados, machine learning, etc.<br>
            Incentivamos nossos alunos através de um sistema de ranqueamento da plataforma, que lhe recompensará com pontos sempre que cumprir certas taréfas, como estudar diariamente, completar desafios da comunidade, superar tempos de outros alunos, dentre diversos outros.<br>
            Não é necessário pagar para aprender, porém possuímos conteúdos exclusivos que podem ser adquiridos através de nossos planos de assinatura mensáis que irão lhe garantir acesso a suporte especializado, além de conteúdos de estudo semanal. <br>(É importante ressaltar que não lhe é fornecido pontos extras através de nossas assinaturas).
        </p>
</div>    
<footer>
    <p>©2022 LEARN - TODOS OS DIREITOS RESERVADOS</p>
</footer>
<style>
    
</style>
</body>
</html>
