<html>
    <head>
        <title>Plataforma Learn</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <link rel="stylesheet" href="../css/profile_style.css">
    </head>
    <body>
    <section>
        <header> <!--CABEÇANTES-->
            <a class="logo" href="#"><img width="300px" src="css\images\logo.png" alt="logo"/></a>
            <nav>
                <ul class="nav_links">
                    <li><a href='/'><img class="navlink_img" width="43px" src="css\images\home.png" /></a></li>
                    <li><a href="#"><img class="navlink_img" width="43px" src="css\images\profile.png"/></a></li>
                </ul>
            </nav>
            <a class="cta" onclick="window.location.href='../views/login'"><button>Sair</button></a>
        </header>
        <article>
            <h2>HTML Básico</h2>
        <p>HTML, ou HiperText Markup Language, é um componente básico da web. O mesmo permite a inserção de conteúdo e estabelecimento de estrutura básica de um website.<br>Através do HTML é possível dar significado e organização a informações de uma página web.</p>
        <h2>CSS básico</h2>
        <p>CSS, ou Cascading Style Sheet, é um mecanismo de adição de estilo a páginas web, qual foi criado pelo W3C em 1996 para incrementar o HTML, qual não foi projetado para ter tags de formatação.<br>CSS é aplicado através de uma linguagem baseada em regras definidas pelo usuário para especificar os grupos de estilo que irão "atacar" elementos particulares do HTML.</p>
        </article>
        <footer>
            <p>©2022 LEARN - TODOS OS DIREITOS RESERVADOS</p>
        </footer>
    </body>
</html>

